<h1> Post <%= @post.id %> </h1>

<h2>Content : <%= @post.text %> </h2>



<form method="post" action="/post/<%= @post.id %>/edit">

  <input type="text" placeholder="Post Content" name="post_content">
  <input type="submit" value="Post">

</form>

<p><a href="/">Home</a></p>