<form method="post" action="/post/new">

  <input type="text" placeholder="Title" name="post[title]">
  <input type="text" placeholder="Subject" name="post[subject]">
  <input type="submit" value="Post">

</form>

<p><a href="/">Home</a></p>