<h1>Questions</h1>
<table border="1">
  <tr>
    <th>No</th>
    <th>Post Content</th>
  </tr>

  <% @user.posts.each do |post| %>
    <tr>
      <td><a href="/post/<%= post.id%>"> <%= post.id %> </a></td>
      <td><%= post.text %></td>
    </tr>
  <% end %>
</table>

<p><a href="/">Home</a></p>