<h2>Sign Up</h2>

<form method="post" action="/user">

	<input type="text" placeholder="Your name" name="user[user_name]">

	<input type="email" placeholder="Email" name="user[email]">

	<br><input type="password" placeholder="Password" name="user[password]"></br>

	<input type="submit" value="Sign up">
</form>

<p><a href="/">Home</a></p>