<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	  	<script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jqueryui/1.11.4/jquery-ui.js"></script>
	    <link rel="stylesheet" type="text/css" href="/css/application.css">
	    <script type="text/javascript" src="/js/application.js"></script>

		<title>Sinatra Framework</title>
	</head>
	<body>
		<h1>Facebook</h1>
		<hr>
		<%= yield %>
	</body>
</html>